@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* inicio do header*/

header {
    background: #8BC34A;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
}
.cjr {
  background-color: #D9D9D9;
  padding: 4px 32px 4px 32px;
  border-radius: 16px;
}

.entradas {
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  
}

/* inicio do body */

body, html {
    margin: 0;
    padding: 0;

}
  
    /* Estilo básico para o corpo da página */
    body {
    font-family: Inter, sans-serif;
    background-color: #111E3E;


}





  .icon {
    position: relative;
    vertical-align: middle;
    padding: 12px 5rem 12px 1rem;
    background-color: #71767B;
    border-radius: 10px;
  }

  .lock {
    align-self: flex-start;
    vertical-align: middle;
  }

  /* Estilo palavra LOGIN */
  .container input::placeholder {
    margin-bottom: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #222E50;
    opacity: 0.7;
  }
  /* Estilo dos campos de entrada Login */
  .container input[type="text"] {
    margin-bottom: 10px;
    width: 360px; /* ja foi */
    height: 22px;
    padding: 10px; /* ja foi */
    left: 570px; /* ja foi */
    top: 312px;
    z-index: 2;
    margin-left: -50px;
    background-color: #D9D9D9;
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
  }
      


  
  /* Estilo dos campos de entrada SENHA */
  .container input[type="password"] {
    padding-right: 30px;
    margin-bottom: 10px;
    width: 360px;
    height: 22px;
    padding: 10px; 
    height: 22px;
    left: 570px;
    top: 380px;
    background-color: #D9D9D9;
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
  }

  .login-container {
    position: relative;
    align-items: center;
  } 

  .password-container {
    position: relative;
  }

  .password-toggle {
    position: absolute;
    left: 87%;
    right: 15px;
    top: 43%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  /* Estilo do botão de entrar */
  .container button[type="submit"]{
    width: 260px;
    height: 50px;
    left: 620px;
    top: 500px;
    padding: 20px; 
    margin: 1rem 0 3rem 0;
    background-color: #D9D9D9;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color:#222E50;
    border-radius: 15px;
  }
  /* Estilo do contêiner do formulário de login */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    width: 500px;
    height: auto;
    top: 227px;
    margin: 100px auto;
    background-color: #222E50;
    border-radius: 11px;
  }

  .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Estilo do botão de mostrar */
  .container button {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 88px;
    height: 20px;
    padding: 20px;
    top: 300px;
    left: 40px;
    right: 48px;
    background-color: #7b1f1f;
    color: #fff;
    border-radius: 4px;
    
  }
.profile {
    scale: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 2.5rem 0;
}
